@model EntityLayer.Concrete.Certificate
@{
    ViewData["Title"] = "UpdateCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sertifika Güncelleme Sayfası</h1>

<form method="post" class="form-group" asp-controller="Certificate" asp-action="UpdateCertificate">
    <input type="hidden" asp-for="CertificateID" />
    <label>Açıklama</label>
    <input type="text" class="form-control" placeholder="Açıklama" asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <br />
    <label>Alış Tarihi</label>
    <input type="date" class="form-control" placeholder="Sertifikanın Alındığı Tarih" asp-for="CertificateDate" />
    <span asp-validation-for="CertificateDate"></span>
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>