@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Beceri Güncelleme Sayfası</h1>

<form method="post" asp-action="UpdateSkill" asp-controller="Skill" class="form-group">
    <input type="hidden" asp-for="SkillID" />
    <label>Beceriniz</label>
    <textarea asp-for="SkillDescription" class="form-control" rows="5"></textarea>
    <span asp-validation-for="SkillDescription"></span>
    <br />
    <label>Oran</label>
    <input asp-for="Rate" class="form-control"/>
    <span asp-validation-for="Rate"></span>
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
